h2{
    color: aquamarine;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-color: red;
    font-weight: bold;
}
#p1{
    color: brown;
    font-size: 20px;
    border: 4px rgb(167, 233, 26);
    letter-spacing: 20 px;
    text-align: justify;
}

body
{
    border: 60px maroon;
    color: rgb(168, 20, 232);
    text-align: center;
}
.c1
{
    color: coral;
    text-align:  center;

}
.c2
{
    margin: auto;
}